:root{

--primary:#818263;
--secondary:#C2C395;
--accent:#DDBAAE;
--soft:#EFD7CF;
--neutral:#DCD4C1;
--background:#F6EAD4;
--card:#FFFAF2;
--font-body:"Manrope",sans-serif;
--font-heading:"Space Grotesk",sans-serif;
--font-logo:"Satisfy",cursive;

}

*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:var(--font-body);

background:var(--background);

color:#555;

overflow-x:hidden;

}

h1,h2,h3,h4{

font-family:var(--font-heading);

color:var(--primary);

}

button{

font-family:var(--font-heading);

cursor:pointer;

}

a{

text-decoration:none;

color:inherit;

}

img{

max-width:100%;

display:block;

}