.fleet-skeleton {
  background: white;

  padding: 20px;

  border-radius: 18px;

  box-shadow: 0 8px 25px rgba(0,0,0,.05);
}

.fleet-skeleton-row {
  display: grid;

  grid-template-columns:
  repeat(7,1fr);

  gap: 15px;

  margin-bottom: 18px;
}

.fleet-skeleton-box {
  height: 45px;

  border-radius: 10px;

  background: linear-gradient(
      90deg,
      #ececec 25%,
      #f6f6f6 50%,
      #ececec 75%
  );

  background-size: 400% 100%;

  animation: shimmer 1.3s infinite;
}

@keyframes shimmer {

0%{
background-position:100% 0;
}

100%{
background-position:-100% 0;
}

}

@media(max-width:768px){

.fleet-skeleton-row{

grid-template-columns:1fr;

}

}