.empty-notifications {
  min-height: 250px;
  padding: 42px 20px 36px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-icon {
  font-size: 58px;
  color: #c2c395;
  margin-bottom: 15px;
}

.empty-notifications h3 {
  margin: 0;
  color: #444;
  font-size: 18px;
}

.empty-notifications p {
  margin-top: 8px;
  color: #777;
  font-size: 14px;
}