.report-header{
display:flex;
align-items:center;
padding:25px;
background:#fff;
border-radius:18px;
box-shadow:0 10px 30px rgba(0,0,0,.05);
}

.report-header-left{
display:flex;
align-items:center;
gap:18px;
}

.report-icon{
width:65px;
height:65px;
border-radius:18px;
background:#818263;
color:white;
display:flex;
justify-content:center;
align-items:center;
font-size:30px;
}

.report-header h1{
margin:0;
font-size:28px;
font-weight:700;
color:#2f3437;
}

.report-header p{
margin-top:6px;
color:#777;
font-size:15px;
}



.excel-btn:hover{
background:#9fa26e;
}

.pdf-btn:hover{
background:#cb9d8b;
}

@media(max-width:768px){

.report-header{
flex-direction:column;
align-items:flex-start;
}

.report-header-actions{
width:100%;
display:grid;
grid-template-columns:1fr 1fr;
}

.report-header-actions button{
justify-content:center;
}

}